@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');


/* .abouthead{
    height: 75vh;
    width: 100%;
    background-color: #fff6b1;
    font-family: 'Gloock', serif;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
}

.abouthead h2{
    padding: 5rem;
}

.top-content{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -21rem;
}

.contentu{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito',sans-serif;
    gap: 3rem;
}

.contentu .description{
    display: flex;
    width: 600px;
    max-height: min-content;
    flex-direction: column;
    gap: 4rem;
    font-size: 30px;
    text-align: justify;
}

.contentu img{
    width: 350px;
    height: 550px;
    border-radius: 20px;
}

.about .queries{
    height: 50vh;
  
}

.about .queries p{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Nunito',sans-serif;
    padding: 20px;
}
  
.about .queries p a{
    color: #163542;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
} */

.about{
    position: relative;
    display: flex;
    flex-direction: column;
    
  }
  
  .abouthead{
    height: 650px;
    width: 100%;
    background-color: #fff6b1;
    font-family: 'Gloock', serif;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
  }
  
  .abouthead h2{
    padding: 5rem;
  }
  
  
  .about .contentu{
    display: flex;
    font-family: 'Nunito',sans-serif;
    font-size: 5rem;
    height: auto;
    position: absolute;
  
    top: 27rem; /* bottom space */
    left:500px;
  }
  .blended-div{
    height:650px;
    width: 100%;
  }
  
  .about .contentu p{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 30px;
    padding-right: 15px;
    width: 550px;
    text-align: justify;
    margin: auto;
  }
  
  
  .about .contentu img{
    width: 350px;
    height: 550px;
    display: block;
    border-radius: 20px;
    margin: auto;
  }
  
  .about .queries{
    height: 50vh;
  
  }
  .about .queries p{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Nunito',sans-serif;
    padding: 20px;
  }
  
  .about .queries p a{
    color: #163542;
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
  }

  @media (max-width: 450px) {
    .about .contentu{
        flex-direction: column-reverse;
        left: 25px;
        right: 25px;
        gap: 2rem;
      }
      
      .about .contentu p{
        gap: 2rem;
      }
    
      .about .contentu p{
        width: 370px;
      }
    
      .about .contentu p p{
        font-size: 20px;
      }
    
      .blended-div{
        height: 100vh;
      }
    
      .about .queries p{
        font-size: 1.3rem;
      }
  }

  @media (min-width: 450px) and (max-width: 1030px){
    .about .contentu{
        left: 70px;
        right: 250px;
        margin: auto;
      }
    
      .about .contentu p{
        gap: 2rem;
      }
    
      .about .contentu p p{
        font-size: 20px;
        width: 300px;
        height: 250px;
      }
  }

  @media (width: 1024px) {
    .about .contentu{
      left: 150px;
      right: 150px;
      margin: auto;
    }
  }